.background {
  background: linear-gradient(180deg, #0B151F 0%, #0B1017 100%);
}
.bg-dark {
  background-color: #0B1017;
}
.banner {
  background-image: url("https://i.postimg.cc/5t8NtrVJ/Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}